<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4">

                <div class="text-center">
                    <img [src]="src" width="100" class="rounded-circle">
                </div>

                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0">Miguel Ángel Castro López</h5>
                    <span>Junior developer with the goal of improving</span>

                    <div class="social-media">
                        <div class="github">
                            <a href="https://github.com/miguelcaslp" target="_blank">
                                <img srcset="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/github-128.png 2x"
                                    alt="github " class="d-block ">
                            </a>
                        </div>
                        <div class="linkedin">
                            <a href="https://linkedin.com/in/miguel-ángel-castro-lópez-95b5b2165" target="_blank">
                                <img srcset="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/linkedin-128.png 2x"
                                    alt="linkedin " class="d-block ">
                            </a>
                        </div>

                    </div>

                </div>




            </div>

        </div>

    </div>

</div>